

.sectionahorcado{
  width: 100%;
  height: 90vh;
  background-image: url("https://res.cloudinary.com/dnju3aw4b/image/upload/v1703023830/Ahorcado/juego-el-ahorcado-enmiauladept_zxafu3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  position: relative;
  overflow: hidden;

}


.divbotonesinicio{
  background-image: linear-gradient(to top, #e12929, #fcb3b3);
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  gap: 10px;
}
.divbotonesinicio button{
  border: none;
  color: #ffd700;
  font-weight: bolder;
  background-color: purple;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 0.5s;

}

.divbotonesinicio button:hover{
  background-color: #ffd700;
  color: purple;
  scale: 1.1;
}
/* .divbotonesinicio button:nth-child(2){
  display: none;
} */
.imgift{
  width: 170px;
  position: absolute;
  top: 35px;
 left: 35px;

}
.imgift:hover{
  scale: 0.5;
}

.divJuegoAhorcado{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
}
.divpalabra{
  background-image: linear-gradient(to top, #008000, #aaffaa);
  width: 350px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 5px;
  gap: 6px;
 
}
.divpalabra span{
  border-bottom: 2px solid black;
  width: 15px;
  /* color: red; */
  text-align: center;
  
}


.divimg{
  position: relative;
  background-image: url("https://res.cloudinary.com/dnju3aw4b/image/upload/v1703019824/Ahorcado/rg8gnbpsxopwuokybnqq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  
}


.divimg img{
 position: absolute;
  width: 250px;
  border-radius: 100%;
  border: 5px solid #e12929;
  animation: changeColor 10s infinite;
  opacity: 0;
}

.hidden{
  color: transparent;
}
.opacity{
  opacity: 0;
}



@media(max-width:1025px) and (min-width:767px){
  .sectionahorcado{
    height: 90vh;
  }
  .imgift{
    width: 200px;
    top:120px;
  }
  .divJuegoAhorcado{
    margin-left: 50px;
    justify-content: start;
    gap: 30px;
  }
  .divpalabra{
   
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    gap: 6px;
   
  }
  .divpalabra span{
    border-bottom: 2px solid black;
    width: 15px;
    /* color: red; */
    text-align: center;
    
  }
  
  
  .divimg{
    width: 300px;
    height: 350px;
    gap: 5px;
    margin-left: 50px;
  }
  .divbotonesinicio{
    margin-bottom: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
  }
  .sectionahorcado{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  

}
@media only screen and (max-width: 541px) and (min-width:432px){

  .imgift{
    width: 200px;
    top:120px;
  }
  .divJuegoAhorcado{
    margin-left: 50px;
    justify-content: start;
    gap: 30px;
  }
  .divpalabra{
   
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    gap: 6px;
   
  }
  .divpalabra span{
    border-bottom: 2px solid black;
    width: 15px;
    /* color: red; */
    text-align: center;
    
  }
  .divimg{
    width: 300px;
    height: 350px;
    gap: 5px;
    margin-left: 50px;
  }
  .divbotonesinicio{
    margin-bottom: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
  }
  .sectionahorcado{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }


}
@media  only screen and (min-width:359px) and (max-width:431px){
  .imgift{
    width: 200px;
    top:120px;
  }
  .divJuegoAhorcado{
    margin-left: 50px;
    justify-content: start;
    gap: 30px;
  }
  .divpalabra{
   
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    gap: 6px;
   
  }
  .divpalabra span{
    border-bottom: 2px solid black;
    width: 10px;
    /* color: red; */
    text-align: center;
    
  }
  .divJuegoAhorcado{
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  .imgift{
    width: 140px;
    top: 20px;
    left: 0px;
  }

  .divimg{
    width: 250px;
    height: 250px;
    gap: 5px;
    margin-left: 50px;
  }
  .divbotonesinicio{
    margin-bottom: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
  }
  .sectionahorcado{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }




}