.sectionppt{
  width: 100%;
  height: 90vh;
  display: none;
  align-items: center;
  justify-content: space-around;
  background-color: #e07f00;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
position: relative;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.psecret{
  position: absolute;
  top: 50px;
  /* left: -800px; */
  left: 100px;
  opacity: 0;
  font-weight: bolder;
  font-size: x-large;
  color: aqua;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}

.aparecer{
  animation: aparecer 2s ease-in forwards,desaparecer 2s ease-out forwards 6s;
}
@keyframes aparecer {
/*   0%{
    left:-800px;
  }
  25%{
    left:-400px;
  }
  50%{
    left: -200px;
  }
  75%{
    left:0px
  }
  100%{
    left: 200px;
  } */
  0%{letter-spacing:-.2em;transform:translateZ(-700px) translateY(-100px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0) translateY(0);opacity:1}
  
}
@keyframes desaparecer {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.divizq{
  /* width: 400px; */
  display: flex;  
  flex-direction: column;
  justify-content: center;
align-items: center;
gap: 100px;
}
.divmarcador{
  width: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.divmarcador h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.divmarcador input{
  border: none;
  background-color: transparent;
  width: 40px;
  font-weight: bolder;
  font-size: xx-large;
}
.aciertos{
  color: yellow;
  font-weight: bolder;
}

.fallos{
  font-size: 18px;
  color: blue;
  font-weight: bolder;
}
.divimgs{
  display: flex;
  gap: 20px;
 
}
.divimgs img{
  width: 100px;
  cursor: pointer;
 
}

.rotacion{
  animation: rotacion 0.7s infinite ease-in-out;
}
@keyframes rotacion{
  0%{transform:rotateX(0)}
  100%{transform:rotateX(-360deg)}
 
}
.chosen{
  border:5px solid black;
  border-radius: 20px;
  padding: 10px;
}

.divder{
 /*  width: 400px; */
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 30px;

}
.divbotones{
  display: flex;
  width: auto;

/*   align-items: center;
  justify-content: center; */
}
.divbotones button{

  border: 4px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bolder;
  background-color: transparent;
  cursor: pointer;
  
}

.divbotones button:hover{
  animation: shake 0.8s linear both;
}

@keyframes shake{
  0%,100%{transform:rotate(0deg);
    transform-origin:50% 50%}
    10%{transform:rotate(8deg)}
    20%,40%,60%{transform:rotate(-10deg)}
    30%,50%,70%{transform:rotate(10deg)}
    80%{transform:rotate(-8deg)}
    90%{transform:rotate(8deg)}
}

.divrandom{
  width: 175px;
  height: 175px;
  border-radius: 100%;
}
.divrandom img {
width: 175px;
border-radius: 100%;
}
.vuelta{
  animation: vuelta 0.4s linear both;
}
@keyframes vuelta{
  0%{transform:scale(1) rotateZ(0)
  }
  50%{transform:scale(2) rotateZ(180deg)
  }
  100%{transform:scale(1) rotateZ(360deg)
  }
}
@media (max-width:800px){
  .sectionppt{
    flex-direction: column-reverse;
  }
  .divder{
    width: 100%;
    justify-content: space-around;
  }
  .divizq{
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .divmarcador{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divimgs{
    width: 100%;
    justify-content: space-around;
  }

}

@media (max-width:580px){
  .divizq img{
    width: 75px;
  }
  .divder{
    flex-direction: column;
    gap: 0;
  }
  .divrandom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divrandom img{
    width: 120px;
  }
  .divbotones{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0;
    justify-content: space-around;
  }

}
/* @media(max-width:743px){
  .sectionppt{
    gap: 20px;
  }
  .divizq{
    justify-content: start;
    align-items: start;
  }
  .divimgs img{
    width: 50px;
  }
  .divrandom img, .divrandom{
    width: 100px;
  }
 
} */
/* @media (max-width:507px){
  .sectionppt{
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    
  }
  .divizq{
    gap: 0;
    height: none;
    margin-left: -80px;
   
  }
  .divder{
    height: 100px;
    margin-left: -70px;
  }
  .divbotones{
    flex-direction: column;
  gap: 5px;
    margin: 0;
  }
 
  .divbotones button{
   
    padding: 5px 5px;
  }
  .divrandom{
    margin-top: 70px;
  }
}
 */
/* @media(max-width:365px){
  .divder{
    margin-right: -70px;
  }
  .divizq{
    margin-right: -70px;
  }
  .divbotones{
    gap: 5px;

  }
  .divrandomm, .divrandom img{
    width: 65px;

  }
  .divbotones button{
    padding: 5px 5px;
    margin: 0;
  }
  .divbotones{
    flex-direction: column;
    gap: 5px;
    margin: 0;
  }
  .divrandom{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
} */

/* @media(max-width:414px){

  .divbotones{
    flex-direction: column;
  gap: 5px;
    margin: 0;
  }
  .divbotones button{
    padding: 5px 5px;
    margin: 0;
  }
}
@media(width:474px){
  .sectionppt{
    justify-content: space-around;
  }
}
@media(width:414px){
  .sectionppt{
    justify-content: space-around;
  }
}
@media (width:390px){
 .sectionppt{
  justify-content: space-around;
 }
} */
/* @media ( width:430px){
  .sectionppt{
    justify-content: space-around;
  }
} */
/* @media (width:412px){
 .sectionppt{
  justify-content: space-around;
 }
} */
/* @media (width:360px){
  .sectionppt{
    justify-content: space-around;
  }
} */
/* @media (width:768px){
  .sectionppt{
    justify-content: space-around;
  }
} */
/* @media (width:1024px) and (height:1366px){
  .sectionppt{
    align-items: start;
    
  }
  .divder{
    margin-top: 300px;
  }
  .divizq{
    margin-top: 300px;
  }
} */

/* @media(width:912px) and (height:1368px){
  .sectionppt{
    align-items: start;
    
  }
  .divder{
    margin-top: 300px;
  }
  .divizq{
    margin-top: 300px;
  }

} */