


.sectionMemory{
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: #e32600;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
  overflow: hidden;
}

.gift{
  width: 50px;
  position: absolute;
  left: 30px;
  top: 30px;
  transform: rotate(320deg);
  animation: changeColor 5s infinite;
  border-radius: 100%;
}
.gift:hover{
  scale:1.1;
}

.sectionMemory article{
  width: 80%;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 25px; 
 

}
.sectionMemory article div{
  background-color: #923e50;
background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; 
  height: 60px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.carta{
  width: 45px;
  display: flex;
  opacity: 0;
  transition: opacity 0.8s;
}

.divbotones{
  width: 200px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 20px;
}
.divspan{
  margin-top: 20px;
  width: 60%;
  height: 100px;
 
  color: yellow;
  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.divspan span{
  color: rgb(3, 7, 4);
  background-color: transparent;
  font-size: 28px;
  font-weight: bold;
  animation: amarillo 2s infinite;

}

@keyframes amarillo{
0%{
  box-shadow: 5px 10px yellow;
}
25%{
  box-shadow: 5px 10px 15px yellow;
}
50%{
  box-shadow: 5px 10px 15px 20px yellow;
}
75%{
  box-shadow: 5px 10px 15px 20px 25px yellow;
}
100%{
  box-shadow:5px 10px 15px 20px 25px 30px yellow ;
}
  
}

.sectionMemory button{
  border: none;
  color: rgb(97, 15, 152);
  font-weight: bolder;
  background-color:#e32600;
  cursor: pointer;
  padding: 10px 5px;
  border-radius: 20px;
  transition-property: all;
  transition-duration: 0.5s;
}
.sectionMemory button:hover{
  background-color:rgb(97, 15, 152);
  color: #e32600;
  scale: 1.1;
}
.sectionMemory button:last-of-type{
  display: none;
}
.showed{
  opacity: 1;
  animation: changeColor 2seg infinite;
}

@media(max-width:671px){
  .sectionMemory article{
    margin-left: -30px;
  }

  .divbotones{
    margin-left: -50px;
  }

  .sectionMemory article{
  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px; 
    margin-top: -100px;
   
  
  }

  
}
@media(max-width:413px){
  .sectionMemory  article div{
    width: 40px; 
    height: 40px; 
   
  }
  .carta{
    width: 20px;
  }
  .gift{
    width: 25px;
  }
  .divbotones{
    margin-top: 410px;
    flex-direction: row;
    gap: 0;
    margin-left: 20px;
    align-items: center;
 

  }
  .sectionMemory article{
    margin-left: -180px;
    
}
}








